<footer class="container footer">
    <div class="footer1">
       <div class="icons-footer">
        <a href="https://www.instagram.com/xavier00110001/?hl=pt-br"><img src="/public/img/instagram.png" alt="icon-instagram"></a>
        <a href="https://www.instagram.com/xavier00110001/?hl=pt-br">Instagram</a>
       </div><!--icons-footer-->
       <div class="icons-footer">
        <img src="/public/img/gmail.png" alt="gmail">
        <p>Email:evandersonxavier05@gmail.com</p>
       </div><!--icons-footer-->
       <div class="icons-footer">
        <a href="https://github.com/Xavier1037"><img src="/public/img/github.png" alt="github"></a>
        <a href="https://github.com/Xavier1037">GitHub</a>
       </div><!--icons-footer-->
    </div><!--footer1-->
</footer><!--container footer-->
    
<script src="/public/js/jquery.js"></script>
<script src="/public/js/mobileMenu.js"></script>
<script src="/public/js/slick.min.js" ></script>
<script src="/public/js/slick.js" ></script>
<script src="/public/js/slider.js" ></script>
<script src="/public/js/scrollpage.js"></script>
<script src="/public/js/formulario.js"></script>

</body>
</html>