
<%- include('partials/header.html') %>

    <header id="header" class="container header">
        <nav id="nav" class="nav">
            <button aria-label="Abrir Menu" id="btn-mobile" class="btn-mobile" aria-haspopup="true" aria-controls="menu" aria-expanded="false">menu
                <span id="hamburger" class="hamburger"></span>
            </button><!--btn-mobile-->
            <ul id="menu" class="menu" role="menu">
                <li><a href="#skills">Skills</a></li>
                <li><a href="#projetos">Projetos</a></li>
                <li><a href="#sobre">Sobre</a></li>
                <li><a href="#contato">contato</a></li>
            </ul><!--menu-->   
        </nav><!--nav-->
    </header><!--container header-->

    <section class="container section-2" >
        <div class="banner">
            <div class="box box2"><!--box box2-->
                <h2>Evanderson Xavier</h2>
                <h3>FrontEnd Developer</h3>
            </div>
            <h2>Evanderson Xavier</h2>
            <h4>FrontEnd Developer</h4>
            <div class="img-perfil"><img src="/public/img/perfil.jpeg" alt="foto-perfil"></div><!--img-perfil-->
        </div><!--banner-->
    </section><!--container section-2-->

    <section id="skills" class="container skills">
        <div class="line-titulo">
            <div class="ln1"></div><!--ln1-->
            <h2>Skills</h2>
        </div><!--line-titulo-->
        <div class="list-skills">
            <div class="colum1">
                <div class="icons-skills">
                    <i class="fab fa-html5 html5"></i><!--icons-->
                    <h2>HTML5</h2>
                    <div class="barra-skills">
                        <div class="barra-skill-fill"></div><!--barra-skill-fill-->
                    </div><!--barra-skills-->
                </div><!--icons-skills-->
                <div class="icons-skills">
                    <i class="fab fa-css3-alt css3"></i><!--icons-->
                    <h2>CSS 3</h2>
                    <div class="barra-skills">
                        <div class="barra-skill-fill"></div><!--barra-skill-fill-->
                    </div><!--barra-skills-->
                </div><!--icons-skills-->
                <div class="icons-skills">
                    <i class="fab fa-js-square javascript"></i><!--icons-->
                    <h2>JavaScript</h2>
                    <div class="barra-skills">
                        <div class="barra-skill-fill"></div><!--barra-skill-fill-->
                    </div><!--barra-skills-->
                </div><!--icons-skills-->
            </div><!--colum1-->

            <div class="colum2">
                <div class="icons-skills">
                    <i class="fab fa-node-js nodejs"></i><!--icons-->
                    <h2>NodJs</h2>
                    <div class="barra-skills">
                        <div class="barra-skill-fill"></div><!--barra-skill-fill-->
                    </div><!--barra-skills-->
                </div><!--icons-skills-->
                <div class="icons-skills">
                    <i class="fas fa-database mysql"></i><!--icons-->
                    <h2>MySql</h2>
                    <div class="barra-skills">
                        <div class="barra-skill-fill"></div><!--barra-skill-fill-->
                    </div><!--barra-skills-->
                </div><!--icons-skills-->
                <div class="icons-skills">
                    <i class="fas fa-server firebase"></i><!--icons-->
                    <h2>Firebase</h2>
                    <div class="barra-skills">
                        <div class="barra-skill-fill"></div><!--barra-skill-fill-->
                    </div><!--barra-skills-->
                </div><!--icons-skills-->
            </div><!--colum2-->
            
        </div><!--list-skills-->
    </section><!--container sills-->

    <section id="projetos" class="container projetos">
        <div class="line-titulo">
            <h2>Projetos</h2>
        </div><!--line-titulo-->
        <div class="flex-projetos">
            <div class="mini-projeto">
                <div class="img-projeto">
                    <div class="front">
                     
                      </div><!--front-->
                      <div class="back"><h2>
                        <img style="background-color: #ccc;"src="" />
                      </h2>
                      </div><!--back-->
                </div><!--img-projeto-->
                <h2>Nome Projeto > <a href="#">Link</a></h2>
            </div><!--mini-projeto-->
            <div class="mini-projeto">
                <div class="img-projeto">
                    <div class="front">
                        
                      </div><!--front-->
                      <div class="back"><h2>
                        
                      </h2>
                      </div><!--back-->
                </div><!--img-projeto-->
                <h2>Nome Projeto > <a href="#">Link</a></h2>
            </div><!--mini-projeto-->
            <div class="mini-projeto">
                <div class="img-projeto">
                    <div class="front">
                        
                      </div><!--front-->
                      <div class="back"><h2>
                        <img style="background-color: #ccc;"src="" />
                        
                      </h2>
                      </div><!--back-->
                </div><!--img-projeto-->
                <h2>Nome Projeto > <a href="#">Link</a></h2>
            </div><!--mini-projeto-->
            <div class="mini-projeto">
                <div class="img-projeto">
                    <div class="front">
                       
                      </div><!--front-->
                      <div class="back"><h2>
                        
                      </h2>
                      </div><!--back-->
                </div><!--img-projeto-->
                <h2>Nome Projeto > <a href="#">Link</a></h2>
            </div><!--mini-projeto-->
            <div class="mini-projeto">
                <div class="img-projeto">
                    <div class="front">
                        
                       
                      </div><!--front-->
                      <div class="back">
                       
                        <h2>
                        
                      </h2>
                      </div><!--back-->
                </div><!--img-projeto-->
                <h2>Nome Projeto > <a href="#">Link</a></h2>
            </div><!--mini-projeto-->
            
        </div><!--flex-projetos-->
    </section><!--container projetos-->

    <section id="sobre" class="container sobre">
        <div class="line-titulo">  
            <h2>Sobre</h2>
        </div><!--line-titulo-->
        <div class="box-sobre">
           
            <p>ipsum dolor sit amet, consectetur adipiscing elit. Nam erat ex, ornare sit amet nunc a, placerat efficitur enim. Phasellus volutpat sem eu nisl varius ultricies. Sed tempor quam ut rutrum sodales. Curabitur pellentesque, ligula rutrum convallis dictum, dolor enim euismod elit, eu viverra ipsum enim non leo. Vestibulum vel tellus venenatis, sagittis ligula et, posuere purus. Duis efficitur risus tortor, ut posuere lectus cursus eget. In ut interdum enim, a sollicitudin enim. Maecenas hendrerit varius magna ut volutpat. Sed pellentesque eleifend eros, vitae fringilla orci facilisis id. Maecenas in dolor laoreet, elementum lorem at, laoreet quam. Duis ut faucibus purus. Curabitur scelerisque egestas urna a sagittis. Cras ac vehicula nisi, in sodales velit. Mauris semper ullamcorper nulla, vitae congue metus posuere a. Curabitur sit amet congue tortor. Morbi vehicula nunc a nibh ultricies, eget ullamcorper ligula mattis.</p>
        </div><!--box-sobre-->
        
    </section><!--container sobre-->

    <section id="contato" class="container contato">
        <div class="line-titulo">
           
            <h2>Contato</h2>
        </div><!--line-titulo-->

        <form method="post" action="/admin/cadastro">
            <div class="form-wraper w100">
                <span>Nome:</span>
                <input type="text" name="nome" placeholder="nome"/>
            </div><!--form-wraper w100-->
            <div class="form-wraper w50">
                <span>E-mail:</span>
                <input type="text" name="email" placeholder="email"/>
            </div><!--form-wraper w50-->
            <div class="form-wraper w100">
                <span>mensagem:</span>
                <textarea name="mensagem" placeholder="mensagem..."></textarea>
            </div><!--form-wraper w100-->
            <div class="form-wraper w100" style="text-align: center;">
                <input type="submit" name="acao" placeholder="Enviar"/>
            </div><!--form-wraper w100 (Buttom de Enviar)-->
            <div class="clear"></div><!--clear-->
        </form>
        
    </section><!--container contato-->

    <div class="clear"></div>

    
    
        <%- include('partials/footer.html') %>